<!DOCTYPE html>
<html lang="en">

<head>
    <title>PairItUp</title>
    <link rel="icon" type="image/ico" href="./favicon.png">
    <!-- link for JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Boostrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <!-- Socket Link -->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js"></script>

    <script type="text/javascript"></script>
    <script>
        var socket = io()

        $(function () {

            // Prompt user to enter name and store in person variable
            var user = prompt("Hello and Welcome. Please enter your name");
            update()

            // emit person variable  to server
            socket.emit('new_user', user);
            console.log(user)

            // Listen for allusers event sent from server via socket
            socket.on('allusers', function (data) {
                var user_list = '';
                for (var i = 0; i < data.length; i++) {
                    user_list += '<div id="loggedInUsers" class="card text-center"> <div class="card-header">' + data[i] + '</div></div>';
                }
                $('#user').html(user_list)
                $('#current').html('Welcome ' + user)
            })

            // Retrieve the chat message from client page
            // Emit to Server via socket
            $('#send').click(function () {
                socket.emit('new_msg', $('#chat_msg').val(), user)
                $('#chat_msg').val('')
            })

            $('#chat_msg').keydown(function (event) {
                if (event.which == 13) {
                    event.preventDefault();
                    socket.emit('new_msg', $('#chat_msg').val(), user)
                    $('#chat_msg').val('')
                }
            })

            socket.on('msg', function (data) {
                console.log(data)
                if (data.user == user) {
                    $('#message').append('<span style="color: green"><span class="text-capitalize; min-width:0px;">' + data.user + '</span> said: ' + data.msg + '</span><br>')
                    $('#output').scrollTop($('#message').height())
                } else {
                    $('#message').append('<span style="color: blue"><span  class="text-capitalize; min-width:0px;">' + data.user + '</span> said: ' + data.msg + '</span><br>')
                    $('#output').scrollTop($('#message').height())
                }
                
            })
            // newest block of code that has not been tested to load all messages on connection
            socket.on('message_history', function (data) {
                $('#chat_msg').val('')
            })
            
            socket.on('sendHTML', function (data, iframe) {
                console.log('changed html____----****++++', data)
                console.log('changed html____----****++++', iframe)
                socketUpdate(data, iframe)
                // setupSocketEditor(iframe)
            })
            
            socket.on('newUserJoined', function (data) {
                $('#message').append('<span style="color: orange"><span  class="text-capitalize; min-width:0px;">' + data + ' has joined</span><br>')
            })

        });
        function ready() {
            setupEditor();
        }

        function getHTML(){
            return editor.getSession().getValue()
        }
      
        function socketUpdate(data, iframe) {
            console.log("@@@@@@@@@@@@@@@@@ Recieved HTML: ", iframe)
            
            // console.log("socketUpdate", data);
            var idoc = document.getElementById('iframe').contentWindow.document;
            var mydoc = document.getElementById('editor')
            console.log("@@@@@@@@@@@@@ mydoc (frame)", mydoc)
            // console.log("In Socketupdate method Idoc renders: ",idoc)
            idoc.open();
            idoc.write(iframe);
            idoc.close();
            
            let editorvalue = $("#editor").html()
            
            // console.log("editor value renders: --^^" ,editorvalue)
            // editor.getSession().getValue( $("#editor").html(data), 1)
            console.log("updating HTML text")
            
            editor.getSession().getValue( $("#editor").html(data), 1)

            // editor.session.setValue(iframe)
           

            // editor.session.insert(customPosition, iframe)

        }
        // *** METHODS UPDATES THE IFRAME ON THE .ON('CHANGE')
        function update() {
            console.log("update");
            var idoc = document.getElementById('iframe').contentWindow.document;
            idoc.open();
            console.log("@@@@@@@@@@@@@@@@@@ EIDTOR")
            console.log(editor)
            var mydoc = document.getElementById('editor').
            mydoc
            console.log(editor.getValue())
            idoc.write(editor.getValue());
            idoc.close();

            // *** EMITS VALUES OF THE EDITOR AND THE IFRAME VIA SOCKETS ***
            // socket.emit('newHTML', $('#editor').html(), editor.getValue())
            socket.emit('newHTML', $('#editor').html(), editor.getValue())
        }

        // ----------------- SETUP SOCKET EDITOR -------------------
        function setupSocketEditor(socketHTML) {
            console.log("setupEditor")
           
            window.editor = ace.edit("editor");
            editor.setTheme("ace/theme/monokai");
            editor.getSession().setMode("ace/mode/html");
            editor.setValue(socketHTML, 1); //1 = moves cursor to end

            editor.getSession().on('change', function () {
                socketUpdate()
                update();
            });

            editor.focus();

            editor.setOptions({
                fontSize: "12pt",
                showLineNumbers: false,
                showGutter: false,
                vScrollBarAlwaysVisible: true,
                enableBasicAutocompletion: false, enableLiveAutocompletion: false
            });

            editor.setShowPrintMargin(false);
            editor.setBehavioursEnabled(false);
        }
        // ----------------- SETUP EDITOR -------------------
        function setupEditor() {
            console.log("setupEditor")
            var boilerHTML = `<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <h1 style="color: orange; text-align: center;">Coding Dojo</h1>
</body>

</html>`; //1 = moves cursor to end
            window.editor = ace.edit("editor");
            editor.setTheme("ace/theme/monokai");
            editor.getSession().setMode("ace/mode/html");
            editor.setValue(boilerHTML, 1); //1 = moves cursor to end

            editor.getSession().on('change', function () {
                // socketUpdate()
                update();
            });

            editor.focus();

            editor.setOptions({
                fontSize: "12pt",
                showLineNumbers: false,
                showGutter: false,
                vScrollBarAlwaysVisible: true,
                enableBasicAutocompletion: false, enableLiveAutocompletion: false
            });

            editor.setShowPrintMargin(false);
            editor.setBehavioursEnabled(false);
        }
        setupEditor();
        update();

    </script>
    <style>
        html,
        body {
            margin: 0;
            padding: 0px;
            height: 98%;
            /* width: 99%; */
            /* overflow: hidden; */
            background-color: rgb(213, 213, 213)
        }

        #editor {
            height: 100%;
            width: 50%;
            display: inline-block;
        }

        #container {
            height: 74%;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            position: relative;
            display: inline-flex;
            /* border-radius:10% */
        }

        #iframe {
            height: 100%;
            display: inline-block;
            width: 50%;
            background-color: white
        }

        /* disable tag matching */

        .ace_editor .ace_marker-layer .ace_bracket {
            display: none
        }

        #chatroom {
            display: inline-block;
            vertical-align: top;
            /* max-width: 100%; */
            width: 100%;
        }

        #window {
            padding: 10px;
            overflow-y: scroll;
            height: 39.2rem;
            width: 14.3rem;
            background-color: rgb(243, 242, 242);
            display: table-cell;
            vertical-align: bottom;
        }

        #loggedInUsers {
            display: inline-block;
            height: 150px;
            width: 150px;
            margin-right: 5px;
            margin-left: 5px;
            background-color: aliceblue;
            font-family:fantasy;
        } 
        #message{
            white-space: pre-wrap
        }
    </style>

</head>

<body onload="ready()">
    <div class="text-left">
        <nav class="navbar navbar-dark bg-dark justify-content-between">
            <a class=" display-4 text-white">PairItUp</a>
            <h1 class="text-capitalize display-4 text-white" id="current"></h1>
        </nav>
    </div>
    <div class="col mt-1" id='container'>

        <div id="editor"></div>

        <iframe class="mr-1" id='iframe' frameBorder="0"></iframe>

        <div class="card ">
            <div id="chatroom">
                <h3 class="card-header text-center">Chat Room </h3>

                <div id="window">
                    <div id="output" style=" background-color: rgb(243, 242, 242); margin-bottom: 3px;">
                        <div class="" id="message"></div>
                    </div>
                </div>
                <div class="input-group ">
                    <textarea class="form-control" id="chat_msg" aria-label="With textarea"></textarea>
                    <div class="input-group-append">
                        <button type="button" id="send" class="btn btn-outline-secondary">Send</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="form-control" style="background-color: #343a40">
        <div class="col" id="user"></div>
    </div>

</body>

</html>