
 html,
 body {
     margin: 0;
     padding: 0px;
     height: 98%;
     width: 99%;
     overflow: hidden;
     background-color: rgb(213, 213, 213)
 }

 #editor {
     height: 100%;
     width: 50%;
     display: inline-block;
 }

 #container {
     height: 100%;
     width: 100%;
     white-space: nowrap;
     overflow: hidden;
     position: relative;
     display: inline-flex;
     /* border-radius:10% */
 }

 #iframe {
     height: 100%;
     display: inline-block;
     width: 50%;
     background-color: white
 }

 /* disable tag matching */

 .ace_editor .ace_marker-layer .ace_bracket {
     display: none
 }

 #chatroom {
     display: inline-block;
     vertical-align: top;
     /* width: 70%; */
 }

 #window {
     padding: 10px;
     overflow-y: scroll;
     height: 300px;

     background-color: rgb(243, 242, 242);
     /* border: solid 1px rgb(211, 211, 211); */
     margin-bottom: 3px;
 }